@using AiJiaXi.Domain.Entities
@using AiJiaXi.Domain.Repositories.Interface;
@using AiJiaXi.Domain.Repositories.Impl;
@model AiJiaXi.Domain.Entities.Location.City
@using ZhiYuan.IAR.Repository.EF
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    List<AiJiaXi.Domain.Entities.Orders.OrderItemClass> Class = ViewBag.Class as List<AiJiaXi.Domain.Entities.Orders.OrderItemClass>;
    List<IGrouping<long, AiJiaXi.Domain.Entities.Orders.OrderItem>> OrderItem = ViewBag.OrderItem as List<IGrouping<long, AiJiaXi.Domain.Entities.Orders.OrderItem>>;

    IRepository<AiJiaXi.Domain.Entities.Location.City> _cityRepository = new Repository<AiJiaXi.Domain.Entities.Location.City>();

    IQueryable<AiJiaXi.Domain.Entities.Agency> AgencyLi = ViewBag.Range as IQueryable<AiJiaXi.Domain.Entities.Agency>;

    string countyId = ViewBag.countyId;
}
<!DOCTYPE html>
<html>
<head>
    <title>白洗么</title>
    <script>
        //如果切换城市则缓存清空，因为每个城市商品不同
        if (store('PcityId') != '@ViewBag.cityId') {

            store('ProductJson', '');//清空缓存
        }

        store('login', '@ViewBag.login');

        //store('login','');
        //OpenId
        store('OpenId', '@ViewBag.OpenId');
        //城市ID
        store('PcityId', '@ViewBag.cityId');
        //区域ID
        store('cityId', '@ViewBag.countyId');
        //城市名称
        store('PcityName', '@ViewBag.cityName');
        //区域名称
        store('cityName', '@ViewBag.countyName');

        store('pageName', 'main');
        var ajaxData = new Array();

    </script>
</head>
<!--主体部分-->
<body>
  　<div id="warp" style="width:100%;background-color:red;z-index:999;"></div>
    <header class="main">
        <span class="left padding"><span id="countyName">@ViewBag.countyName </span><i class="icon bt s"></i></span>
        <span><i class="icon logo2"></i></span>
        <i class="icon space"></i>
    </header>
    <nav class="main">
        @{ int c = 0;}
        @foreach (var item in Class)
        {
            c++;
            if (c == 1)
            {
                <span><i class="icon menu_active" style="background-image:url('/Upload/@item.HoverIconUrl')" data-img="/Upload/@item.HoverIconUrl" data-bg="/Upload/@item.IconUrl"></i><br>@item.Name</span>
            }
            else
            {
                <span><i class="icon menu_active g" style="background-image:url('/Upload/@item.IconUrl')" data-img="/Upload/@item.HoverIconUrl" data-bg="/Upload/@item.IconUrl"></i><br>@item.Name</span>
            }
        }
        @*<span><i class="icon menu_active"></i><br>活动</span>
            <span><i class="icon menu_clo g"></i><br>衣物</span>
            <span><i class="icon menu_shoe g"></i><br>家纺</span>
            <span><i class="icon menu_xl g"></i><br>鞋靴</span>
            <span><i class="icon menu_sc g"></i><br>奢侈品</span>
            <span><i class="icon menu_zd g"></i><br>汽车坐垫</span>
            <span><i class="icon menu_cf g"></i><br>裁缝</span>
            <span><i class="icon menu_other g"></i><br>其他</span>*@

        <span class="line"><b></b></span>
    </nav>
    <style>
        section.main div img.hot {
            width: 100%;
            margin: 0;
        }

        .wushan {
            position: relative;
        }

            .wushan a {
                display: block;
                position: absolute;
                bottom: 51.5%;
                left: 30%;
                width: 40%;
                height: 5%;
            }

        .tongcheng {
            position: relative;
        }

            .tongcheng a {
                display: block;
                position: absolute;
                bottom: 12%;
                left: 20%;
                width: 60%;
                height: 15%;
            }

        .jiazheng {
            position: relative;
        }

            .jiazheng a {
                display: block;
                position: absolute;
                bottom: 4%;
                left: 32%;
                width: 36%;
                height: 9%;
            }

        .nangua {
            position: relative;
        }

            .nangua a {
                display: block;
                position: absolute;
                bottom: 3%;
                left: 47%;
                width: 49%;
                height: 8%;
            }
    </style>
    <!--- 选项卡页面 ---->
    <section class="main">
        <div class="categoryWarp">
            <!-- 活动 ---->
            @{var g = 0;}
            @foreach (var group in OrderItem)
            {
                g++;

                <div class="category">
                    @if (group != null)
                    {
                        foreach (var item in group)
                        {
                            //活动以名称判断，如果标题为活动，则就不显示价格
                            if (item.ItemClass.Name == "活动")
                            {
                                //var type = "";
                                if (item.ClientEventType == AiJiaXi.Domain.Enums.ClientEventType.Goods)//58元洗几件
                                //if (item.Name == "58洗三件")//58元洗几件
                                {
                                    <div class="cate flashLeft flashShow" flash-step="100">
                                        <img src="/Upload/@item.ImageUrl">
                                        <h3 style="color:#0269b6">@item.Name</h3>
                                        <h4>@Html.Raw(item.Desc)</h4>
                                        <span>
                                            <i class="numWarp" data-price="@item.Price" data-id="@item.Id" data-value="@item.Id">
                                                <i class="bg"></i>
                                                <s class="del"><b></b><i class="icon del2"></i></s>
                                                <s class="num" id="@(item.Id)_num">0</s>
                                                <s class="add"><b></b><i class="icon add2"></i></s>
                                            </i>
                                            <i class="price">¥ @item.Price</i>
                                        </span>
                                    </div>
                                }
                                else if (item.ClientEventType == AiJiaXi.Domain.Enums.ClientEventType.Benefit)//满多少减多少
                                {
                                    <div onClick="javascript: setGoods('@g','@OrderItem.Count');" class="cate flashLeft flashShow" flash-step="150">
                                        <img src="/Upload/@item.ImageUrl">
                                        <h3 style="color:#0269b6">@item.Name</h3>
                                        <h4>@Html.Raw(item.Desc)</h4>

                                    </div>
                                }
                                else if (item.ClientEventType == AiJiaXi.Domain.Enums.ClientEventType.Recharge)//充值多少送多少
                                                                                                              //else if (item.Name == "充值200送50")//充值多少送多少
                                {
                                    <div onClick="javascript: pageTurn('/FrontPage/recharge?openid=' + store('OpenId') + '&countyId=' + store('cityId'));" class="cate flashLeft flashShow" flash-step="150">
                                        <img src="/Upload/@item.ImageUrl">
                                        <h3 style="color:#0269b6">@item.Name</h3>
                                        <h4>@Html.Raw(item.Desc)</h4>

                                    </div>
                                }
                                else if (item.ClientEventType == AiJiaXi.Domain.Enums.ClientEventType.LuckyDraw)////大转盘
                                {
                                    <div onClick="javascript: pageTurn('/FrontPage/Turntable?OpenId=' + store('OpenId'));" class="cate flashLeft flashShow" flash-step="150">
                                        <img src="/Upload/@item.ImageUrl">
                                        <h3 style="color:#0269b6">@item.Name</h3>
                                        <h4>@Html.Raw(item.Desc)</h4>

                                    </div>
                                }
                                //前台未设置，则就显示一个页，不可点
                                else
                                {
                                    <div  class="cate flashLeft flashShow" flash-step="150">
                                        <img src="/Upload/@item.ImageUrl">
                                        <h3 style="color:#0269b6">@item.Name</h3>
                                        <h4>@Html.Raw(item.Desc)</h4>

                                    </div>
                                }
                            }
                            else
                            {
                                <div class="cate flashLeft flashShow" flash-step="100">
                                    <img src="/Upload/@item.ImageUrl">
                                    <h3  style="color:#0269b6">@item.Name</h3>
                                    <h4 >@Html.Raw(item.Desc)</h4>
                                    <span>
                                        <i class="numWarp" data-price="@item.Price" data-id="@item.Id" data-value="@item.Id">
                                            <i class="bg"></i>
                                            <s class="del"><b></b><i class="icon del2"></i></s>
                                            <s class="num" id="@(item.Id)_num">0</s>
                                            <s class="add"><b></b><i class="icon add2"></i></s>
                                        </i>
                                        <i class="price">¥ @item.Price</i>
                                    </span>
                                </div>
                        }
                        }
                    }
                </div>

            }
        
        </div>
    </section>
    <!----- 选项卡页面结束 ----->
    <!--- 购物车 ---->
    <div id="cart">
        <span></span><i class="icon cart"></i><b id="all_num">0</b>
    </div>
    <!--- 购物车结束 ----->
    <!---- 登录 ---->
    <div id="loginWarp">
        <i class="icon back"></i>
        <img src="/images/icons/logo.png">
        <div class="loginForm">
            <span style="padding-right: 92px; box-sizing: border-box;">
                <input class="fl" id="login_tel" maxlength="11" placeholder="请输入手机号码" type="text">
                <i class="icon tel"></i>
                <div id="yzm" class="btn yzm grey">获取验证码</div>
            </span>
            <span>
                <input id="login_code" maxlength="4" placeholder="请输入短信中的验证码" type="text">
                <i class="icon key"></i>
            </span>
            <span>
                <div id="submit" class="btn login grey">验 证 并 登 陆</div>
            </span>
            <span class="xieyi"><b class="checkbox sel"><i class="icon checkbox"></i></b>我已同意 《<a>白洗么用户协议</a>》</span>
        </div>
        <h2 style="top: 543px;">省时 • 省心 • 更洁净</h2>
        <h4 style="top: 583px;">关于白洗么</h4>
    </div>
    <!---- 登录结束 ----->
    <!--城市列表-->
    <section class="city">
        <header class="reback"> <span class="left back"><i class="icon back"></i>地区列表</span> </header>
        <div class="title" id="check_fw"><span class="f1">当前城市：</span><span id="cityName">@ViewBag.cityName</span><span class="fr" style="color: #0269b6">查看具体区域服务范围 &gt;</span></div>
        <p class="title" style="background-color: #0f4490; color: #fff;"><span>已有服务地区</span></p>
        <ul class="open">

            @{
                string cityCur = "";
                var AgencyArr = AgencyLi.ToList();
                if (AgencyArr != null && AgencyArr.Count > 0)
                {
                    foreach (var age in AgencyArr)
                    {
                        //转换已开通城市MODEL
                        //AiJiaXi.Domain.Entities.Agency age = (AiJiaXi.Domain.Entities.Agency)ra;
                        if (String.IsNullOrWhiteSpace(cityCur) || cityCur != age.CityId.ToString())
                        {
                    string cityName = "";
                    //取出城市表MODEL，获取城市名称
                    var cityMod = _cityRepository.Find(t => t.Id == age.CityId);
                    if (cityMod != null)
                    {
                        cityName = cityMod.Name;
                    }
                            <p class="title"><span>@cityName</span></p>
                        }
                        cityCur = age.CityId.ToString();

                        //如果相等则说明当前选中的就是这个区域ID
                        if (age.CountyId.ToString() == countyId)
                        {
                            //该ID是区域ID
                            <li data-id="@age.CountyId" id="@age.CityId"><span>@age.County.Name</span><i class="city sel"><b></b></i></li>
                        }
                        else
                        {
                            //该ID是区域ID
                            <li data-id="@age.CountyId" id="@age.CityId"><span>@age.County.Name</span><i class="city"><b></b></i></li>
                        }



                    }
                }

            }
            @*<p class="title"><span>大连市</span></p>
                <li data-id="1">甘井子区<i class="city sel"><b></b></i></li>
                <li data-id="21">中山区 <i class="city "><b></b></i></li>
                <p class="title"><span>沈阳市</span></p>
                <li data-id="22">1区<i class="city"><b></b></i></li>
                <li data-id="23">2区 <i class="city"><b></b></i></li>*@
            <!--<li data-id="79">贵阳市 <i class="city "><b></b></i></li>
            <li data-id="81">黔东南苗族侗族自治州 <i class="city "><b></b></i></li>
            <li data-id="94">廊坊市 <i class="city "><b></b></i></li>
            <li data-id="96">石家庄市 <i class="city "><b></b></i></li>
            <li data-id="104">洛阳市 <i class="city "><b></b></i></li>
            <li data-id="119">哈尔滨市 <i class="city "><b></b></i></li>
            <li data-id="168">淮安市 <i class="city "><b></b></i></li>
            <li data-id="171">南通市 <i class="city "><b></b></i></li>
            <li data-id="172">苏州市 <i class="city "><b></b></i></li>
            <li data-id="173">宿迁市 <i class="city "><b></b></i></li>
            <li data-id="175">无锡市 <i class="city "><b></b></i></li>
            <li data-id="176">徐州市 <i class="city "><b></b></i></li>
            <li data-id="230">济宁市 <i class="city "><b></b></i></li>
            <li data-id="234">青岛市 <i class="city "><b></b></i></li>
            <li data-id="236">泰安市 <i class="city "><b></b></i></li>
            <li data-id="238">潍坊市 <i class="city "><b></b></i></li>
            <li data-id="240">枣庄市 <i class="city "><b></b></i></li>
            <li data-id="246">临汾市 <i class="city "><b></b></i></li>
            <li data-id="259">西安市 <i class="city "><b></b></i></li>
            <li data-id="305">乌鲁木齐市 <i class="city "><b></b></i></li>
            <li data-id="323">杭州市 <i class="city "><b></b></i></li>
            <li data-id="328">宁波市 <i class="city "><b></b></i></li>
            <li data-id="341">昆山市 <i class="city "><b></b></i></li>-->
        </ul>
        <!--<p class="title"><span>即将服务城市</span></p>
        <ul class="close">
            <li>郑州市</li>
            <li>武汉市</li>
            <li>南京市</li>
            <li>泰州市</li>
            <li>扬州市</li>
            <li>威海市</li>
        </ul>-->
    </section>
    <!-- 城市列表结束-->
    <style>
        section.fanwei {
            transition: transform 0.3s ease;
        }
    </style>
    <!--服务范围-->
    <section id="fuwu_fanwei" class="fanwei pageChild">
        <header class="reback"><span class="left back"><i class="icon back"></i>服务范围</span></header>
        <div class="flashStep">
            @{

                if (AgencyArr != null && AgencyArr.Count > 0)
                {
                    foreach (var age in AgencyArr)
                    {

                        <box data-value="@age.CountyId" id="@age.CityId">
                            @*区域ID*@
                            <span><b><img src="~/Images/icons/icon.png"></b>@age.County.Name</span>
                            <p>@age.Title</p>
                            <img src="/Upload/rangemap/@age.RangeMap">
                        </box>


                    }
                }
            }


      
        </div>
    </section>
    <!--服务范围-->
    <!--用户协议-->
    <section class="main_news news">
        <header class="reback"><span page-url="news_xieyi" class="left back"><i class="icon back"></i>用户协议</span><i class="icon home"></i></header>
        <div class="flashStep">
            <style>
                div.flashStep.flashShow p {
                    color: #0269b6;
                    height: 32px;
                    line-height: 32px;
                    margin: 8px 0;
                    padding: 0 14px;
                }

                div.flashStep.flashShow span {
                    color: #545454;
                    line-height: 24px;
                    padding: 0 14px;
                    display: block;
                    text-indent: 2em;
                }
            </style>
            <p>使用协议</p>
            <span>本协议为您与白洗么平台微信服务号：白洗么，移动APP管理者之间所订立的契约，白洗么的服务由大连艾佳洗网络科技发展有限公司基于以下服务条款及使用条件而提供，具有合同的法律效力，请您仔细阅读。</span>
            <p>一、 本协议内容、生效、变更</p>
            <span>本协议内容包括协议正文及所有白洗么已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何白洗么及其关联公司提供的服务（以下称为白洗么平台服务）均受本协议约束。</span>
            <span>本协议中，“用户”、“会员”为买方的统称；可单指买方</span>
            <span>您应当在使用白洗么平台服务之前认真阅读全部协议内容。如您对协议有任何疑问，应向白洗么咨询。您在同意所有协议条款并完成注册程序，才能成为我们的正式用户，您点击“我已经阅读并同意遵守《干洗客用户服务协议》”按钮后，本协议即生效，对双方产生约束力。</span>
            <span>只要您使用干洗客平台服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得白洗么对您问询的解答等理由，主张本协议无效，或要求撤销本协议。</span>
            <span>您确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</span>
            <span>您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停使用白洗么平台服务。</span>
            <span>白洗么有权根据需要不定期地制订、修改本协议及/或各类规则，并在白洗么相关平台公示，不再另行单独通知用户。变更后的协议和规则一经公布，立即生效。如您不同意相关变更，应当立即停止使用白洗么平台服务。您继续使用白洗么平台服务的，即表明您接受修订后的协议和规则。</span>
            <p>二、 注册及充值会员卡</p>
            <span>注册资格</span>
            <span>用户须具有法定的相应权利能力和行为能力的自然人、法人或其他组织，能够独立承担法律责任。您完成注册程序或其他干洗客平台同意的方式实际使用本平台服务时，即视为您确认自己具备主体资格，能够独立承担法律责任。若因您不具备主体资格，而导致的一切后果，由您及您的监护人自行承担。</span>
            <span>注册资料</span>
            <span>2.1用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且干洗客保留终止用户使用本平台各项服务的权利。</span>
            <span>2.2用户在本站，微信服务号，APP进行浏览、下单购物等活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，除非得到用户的授权或法律另有规定，本站不会向外界披露用户隐私信息。</span>
            <span>账户</span>
            <span>3.1您注册成功后，即成为白洗么平台的会员，将持有白洗么平台唯一编号的会员名和密码等账户信息，您可以根据本站规定改变您的密码。</span>
            <span>3.2您设置的会员名不得侵犯或涉嫌侵犯他人合法权益。否则，白洗么有权终止向您提供白洗么平台服务，注销您的账户。账户注销后，相应的会员名将开放给任意用户注册登记使用。</span>
            <span>3.3您应谨慎合理的保存、使用您的会员名和密码，应对通过您的会员名和密码实施的行为负责。除非有法律规定或司法裁定，且征得白洗么平台的同意，否则，会员名和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。</span>
            <span>3.4用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</span>
            <span>3.5如果发现任何非法使用等可能危及您的账户安全的情形时，您应当立即以有效方式通知，白洗么要求白洗么暂停相关服务，并向公安机关报案。您理解白洗么对您的请求采取行动需要合理时间，白洗么对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</span>
            <span>3.6为方便您使用白洗么平台服务及干洗客关联公司或其他组织的服务（以下称其他服务），您同意并授权白洗么将您在注册、使用白洗么平台服务过程中提供、形成的信息传递给向您提供其他服务的白洗么关联公司或其他组织，或从提供其他服务的白洗么关联公司或其他组织获取您在注册、使用其他服务期间提供、形成的信息。</span>
            <span>3.7经由白洗么平台及委托认可的经销商售出的电子或实体的充值卡、会员卡，一经售出后，会员，用户不得以任何方式转让、赠与或继承（与账户相关的财产权益除外），不记名，不挂失，由于以上原因导致产生的账户问题，干洗客平台概不负责。</span>
            <span>3.8若客户针对由白洗么平台及委托认可的经销商售出的电子或实体的充值卡、会员卡提出退卡，退余额的需求，一但提出退卡，退余额需求将一并扣除所有历史赠送部分。</span>
            <span>用户信息的合理使用</span>
            <span>4.1您同意，白洗么平台拥有通过邮件、短信电话等形式，向在本站注册、购物用户、收货人发送订单信息、促销活动等告知信息的权利。</span>
            <span>4.2您了解并同意，白洗么有权应国家司法、行政等主管部门的要求，向其提供您在白洗么平台填写的注册信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权，则白洗么亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。</span>
            <span>4.3用户同意，白洗么有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。</span>
            <p>三、白洗么平台服务规范</p>
            <span>通过白洗么及其关联公司提供的白洗么平台服务和其它服务，会员可在白洗么平台上查询交易信息、查询商品和服务信息、达成交易并进行交易、参加白洗么组织的活动以及使用其它信息服务及技术服务。</span>
            <span>在白洗么平台上使用白洗么服务过程中，您同意严格遵守以下义务：</span>
            <span>2.1不得传输或发表损害国家、社会公共利益和涉及国家安全的信息资料或言论；</span>
            <span>2.2不利用本站从事窃取商业秘密、窃取个人信息等违法犯罪活动；</span>
            <span>2.3不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为；</span>
            <span>2.4不发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；</span>
            <span>2.5不以虚构或歪曲事实的方式不当评价；</span>
            <span>2.6不对白洗么平台上的任何数据作商业性利用，包括但不限于在未经白洗么事先书面同意的情况下，以复制、传播等任何方式使用干洗客平台上展示的资料。不使用任何装置、软件或程序干预白洗么平台的正常运营。</span>
            <span>2.7本站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。</span>
            <span>2.8您同意，若您未遵守以上规定的，本站有权作出独立判断并采取暂停或关闭用户帐号、订单等措施。</span>
            <span>2.9经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者白洗么根据自身的判断，认为您的行为涉嫌违反本协议和/或规则的条款或涉嫌违反法律法规的规定的，则干洗客有权在本平台上公示您的该等涉嫌违法或违约行为及白洗么已对您采取的措施。</span>
            <span>2.10对于您在白洗么平台上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，白洗么有权不经通知您即予以删除，且按照规则的规定进行处罚。</span>
            <span>2.11对于您在白洗么平台上实施的行为，包括您未在白洗么平台上实施但已经对白洗么平台及其用户产生影响的行为，白洗么有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并采取暂停或关闭用户帐号及其他措施。</span>
            <span>2.12对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保白洗么免于因此产生损失或增加费用。</span>
            <span>2.13如您涉嫌违反有关法律或者本协议之规定，使白洗么遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿干洗客因此造成的损失及（或）发生的费用，包括合理的律师费用。</span>
            <p>四、订单</p>
            <span>在本网站平台购物的用户，请您仔细确认所购商品的名称、价格、数量、等信息。您下单时须完整填写您希望购买的商品数量、价款、收货人、联系方式、收货地址等内容及选择支付方式。如果您提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且白洗么保留终止用户使用白洗么各项服务的权利。</span>
            <span>您了解并同意，本平台上的商品、价格、数量等商品信息随时可能发生变动，本站不作特别通知。由于互联网技术原因导致网页显示信息可能会有一定的滞后性或差错，对此在合同未成立前，您接受本平台在发现网页，下单等数据错误，正式向您发出通知后，对商品信息进行调整，订单按照正确的信息执行，或取消订单。</span>
            <span>
                白洗么所服务的客户为以终端消费为目的的个人、企、事业单位及其他社会团体，不包括经销商，如发现经销商购物，白洗么将拒绝为其服务。由此产生的一切后果由经销商自行承担。
                您了解并同意，如您购买商品，发生问题，您有权取消订单；本平台无法保证您提交的订单信息中希望购买的商品都不会有问题。
            </span>
            <span>您了解并同意，如您购买商品，发生问题，您有权取消订单；本平台无法保证您提交的订单信息中希望购买的商品都不会有问题。</span>
            <span>白洗么关联公司将会到您所指定的地址通过自有物流人员，第三方合作商，快递公司以上门及快递形式进行收送。您了解本平台所提示的送货时间供参考，实际送货会与参考时间略有差异。平台管理者和所有者或其关联公司不对因您及收货人原因导致无法送货或延迟送货承担责任。若发生不可抗力或其他正当合理理由导致发货延迟的，您将给予充分理解。</span>
            <span>白洗么保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</span>
            <p>五、责任范围和责任限制</p>
            <span>白洗么在接到您投诉、主管机关通知或按照法律法规规定，有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形时,白洗么可依约定或依法采取相应 措施。</span>
            <span>您了解并同意，白洗么不对因下述任一情况而导致您的任何损害承担赔偿责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿：</span>
            <span>3.1第三方未经批准的使用您的账户或更改您的数据。</span>
            <span>3.2您对白洗么平台服务的误解。</span>
            <span>3.3任何非因干洗客的原因而引起的与白洗么平台服务有关的其它损失。</span>
            <span>由于法律规定的不可抗力，信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，劳动争议，生产力或生产资料不足，司法行政机关的命令或第三方的不作为及其他本平台无法控制的原因造成的本平台不能服务或延迟服务、丢失数据信息、记录的，白洗么不承担责任，但白洗么将协助处理相关事宜。</span>
            <p>六、协议终止</p>
            <span>您同意，白洗么有权自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或全部干洗客平台服务，暂时冻结或永久冻结（注销）您的账户，且无须为此向您或任何第三方承担任何责任。</span>
            <span>出现以下情况时，白洗么有权直接以注销账户的方式终止本协议:</span>
            <span>2.1白洗么终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为白洗么用户的；</span>
            <span>2.2您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或白洗么以其它联系方式通知您更改电子邮件信息，而您在白洗么通知后三个工作日内仍未更改为有效的电子邮箱的。</span>
            <span>2.3您注册信息中的主要内容不真实或不准确或不及时或不完整。</span>
            <span>2.4本协议（含规则）变更时，您明示并通知干洗客不愿接受新的服务协议的；</span>
            <span>2.5其它白洗么认为应当终止服务的情况。</span>
            <span>您有权向白洗么要求注销您的账户，经干洗客审核同意的，白洗么注销（永久冻结）您的账户，届时，您与白洗么基于本协议的合同关系即终止。您的账户被注销（永久冻结）后，白洗么没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。</span>
            <span>您同意，您与白洗么的合同关系终止后，白洗么仍享有下列权利：</span>
            <span>4.1继续保存您的注册信息及您使用白洗么平台服务期间的所有交易信息。</span>
            <span>4.2您在使用白洗么平台服务期间存在违法行为或违反本协议和/或规则的行为的，白洗么仍可依据本协议向您主张权利。</span>
            <span>白洗么中止或终止向您提供白洗么平台服务后，对于您在服务中止或终止之前的交易行为依下列原则处理，您应独力处理并完全承担进行以下处理所产生的任何争议、损失或增加的任何费用，并应确保白洗么免于因此产生任何损失或承担任何费用：</span>
            <span>5.1您在服务中止或终止之前已经上传至白洗么平台的物品尚未交易的，白洗么有权在中止或终止服务的同时删除此项物品的相关信息；</span>
            <span>5.3您在服务中止或终止之前已经完成的订单，白洗么可以不删除该项交易，但白洗么有权在中止或终止服务的同时将相关情形通知到您。</span>
            <p>七、法律适用、管辖与其他</p>
            <span>本协议包含了您使用白洗么平台需遵守的一般性规范，您在使用白洗么平台时还需遵守适用于该平台的特殊性规范。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。</span>
            <span>2.本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。</span>
            <span>3.因本协议履行过程中，因您使用白洗么服务产生争议应由干洗客与您沟通并协商处理。协商不成时，双方均同意以《白洗么洗染服务争议解决协议》、《中华人民共和国合同法》、《中华人民共和国消费者权益保护法》、《洗染业管理办法》、《洗染业服务经营规范》(SB/T 10624-2011)为依据去沟通并协商处理衣物洗涤不当造成的损坏，遗失等问题的判定和解决！</span>
        </div>
    </section>
    <!--用户协议结束-->
    <style>
        div.turnShow {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 200;
            font-family: Arial, '微软雅黑', Verdana, Sans-serif;
            display: none;
        }

            div.turnShow div.bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #333;
                filter: alpha(opacity=50);
                -moz-opacity: 0.5;
                opacity: 0.5;
                z-index: 200;
            }

            div.turnShow div.msg {
                top: 60px;
                left: 0;
                position: absolute;
                z-index: 201;
                width: 100%;
                padding: 12px;
                box-sizing: border-box;
            }

                div.turnShow div.msg .t {
                    background-color: #0269b6;
                    height: 36px;
                    line-height: 36px;
                    color: #fff;
                    font-size: 14px;
                    text-indent: 20px;
                }

                div.turnShow div.msg .c {
                    padding: 16px 20px;
                    line-height: 24px;
                    background-color: #fff;
                    text-align: center;
                }

                div.turnShow div.msg .n {
                    padding: 0 10px;
                    background-color: #fff;
                }

                    div.turnShow div.msg .n img {
                        width: 100%;
                    }

                div.turnShow div.msg .w {
                    background-color: #fff;
                    padding: 10px;
                }
    </style>
    <div class="turnShow">
        <div class="msg">
            <div class="t">
                <span></span>服务范围
            </div>
            <div class="c"></div>
            <div class="n"></div>
            <div class="w">
                <div class="btn gre2">确 定</div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function Init() {
            var navSpanList = $("main .span");
            for (var i = 0; i < navSpanList.length; i++) {
                console.log(navSpanList[i]);
            }
        }

        Init();
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=XIUsXrzqOywW0HNVs5VhrViu"></script>
    @*<script type="text/javascript" src="~/Scripts/front_js/getLocation.js"></script>*@
    <script type="text/javascript" src="~/Scripts/front_js/mynormal.js"></script>
    <script type="text/javascript" src="~/Scripts/front_js/main.js"></script>
    <script type="text/javascript">
        var ProductCart = new Array();
        var hasActivity = 0; //代表是否有活动，默认为0，就是显示，因为我们活动和他们不同，所以一直显示
       // hasActivity = 1;
        var CartPrice = 0;
        var ProductJson = putAjaxData(ProductCart);
        $(function () {

            Main.init_page();



        });

        //设置活动外商品的索引页,当前索引，和总数量
        function setGoods(temInd,totalCount)
        {



            //正常索引是0的，但是上面传入ID，是上面程序中先++了，所以一直多加一个
            var tempIndex = parseInt(temInd);
            //只有一个活动索引
            if(temInd==1 && totalCount==temInd)
            {
                return;
            }
            //如果活动不是第一个则定位到第一个上，
            else  if(temInd>1)
            {
                tempIndex=0;

              //  return;
            }

            $('div.categoryWarp div.category').eq(tempIndex).find('.flashLeft').each(function () {
                var obj = $(this);
                var step = obj.attr('flash-step');
                var time = parseInt(step) + 200;
                setTimeout(function () {
                    obj.css('transform', 'translateX(0)');
                    obj.addClass('flashShow');
                }, time);
            });

           // var tempIndex = 1;//LC增加，暂时代表第0个分类
            $('nav span i').addClass("g");
            $('nav span').eq(tempIndex).find('i').removeClass("g");
            var index = tempIndex;
            var move = index * 100;
            transform($('nav span.line'), move + '%');
            transform($('div.categoryWarp'), (-move / MenuNum) + '%');

            //$('section.main div.category').css('height','auto');
            setTimeout(function () {
                //$('div.categoryWarp').css('height',boxHeight+50);
                $('section.main div.category').css('height', 'auto');
                var menuPageHeight = $('div.categoryWarp div.category').eq(tempIndex).height();
                $('div.categoryWarp').css('height', menuPageHeight);
                $('section.main div.category').css('height', '100%');
            }, 1000);



        }
    </script>
</body>
</html>
