@using AiJiaXi.Common.Helpers
@using AiJiaXi.Domain.Enums
@model Webdiyer.WebControls.Mvc.PagedList<AiJiaXi.Domain.Entities.Orders.Order>
    
<table class="table table-bordered table-hover table-striped text-center">
    <tr>
        <th class="nowrap text-center">
            序号
        </th>
        <th class="nowrap text-center">
            订单编号
        </th>
        <th class="text-center">
            用户地址
        </th>
        <th class="text-center">
            用户名
        </th>
        <th class="text-center">
            订单详情
        </th>
        <th class="text-center">
            支付方式
        </th>
        <th class="text-center">
            订单总价
        </th>
        <th class="text-center">
            实际支付价格
        </th>
        <th class="text-center">
            提交订单时间
        </th>
        <th class="text-center">
            订单状态
        </th>
        <th class="text-center">
            订单投诉
        </th>
        <th class="text-center">
            投诉内容
        </th>
        <th class="text-center">
            接单代理商
        </th>
    </tr>
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(Model.StartItemIndex + i++)
            </td>
            <td>
                @item.OrderNo
            </td>
            <td>
                @item.UserAddress.Addr
            </td>
            <td>
                @item.ApplicationUser.UserName
            </td>
            <td>
                <a href="@Url.Action("Index", "CartItems", new {@id = @item.Id})" class="btn btn-xs btn-default">查看</a>
            </td>
            <td>
                @item.PayType.GetDescription()
            </td>
            <td>
                ￥@item.TotalPrice 
            </td>
            <td>
                ￥@item.Fact
            </td>
            <td>
                @item.RiseTime.SimpleDateFull()
            </td>
            <td>
                @item.OrderStatus.GetDescription()
            </td>
            <td>
                <a href="#" class="user-editable" data-name="complaint" data-type="select" data-pk="@item.Id" data-value="@item.ComplaintType" data-source="@Url.Action("ComplaintTypes")" data-title="审核状况">
                    @item.ComplaintType.GetDescription()
                </a>
            </td>
            <td>
                <a href="#" class="user-editable" data-name="note" data-type="textarea" data-pk="@item.Id" data-placeholder="投诉内容" data-title="投诉内容">
                    @item.ComplaintNote
                </a>
            </td>
            <td>
                @item.Agency.Name
            </td>
        </tr>
    }

</table>