@model dynamic

@{
    ViewBag.Title = "白洗么";
    ViewBag.Top = "首页";
    ViewBag.Second = "管理员";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">白洗么后台管理系统</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.Joins</div>
                            <div>加盟申请</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "JoinApplications")">
                    <div class="panel-footer">
                        <span class="pull-left">查看所有加盟申请</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.Users</div>
                            <div>用户信息</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Users")">
                    <div class="panel-footer">
                        <span class="pull-left">查看所有用户</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.Completes</div>
                            <div>近一个月完成的订单</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Going", "Orders")">
                    <div class="panel-footer">
                        <span class="pull-left">查看订单统计</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">￥@ViewBag.Turnover</div>
                            <div>近一个月的营业额</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Turnnover", "Summary")">
                    <div class="panel-footer">
                        <span class="pull-left">查看统计</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    @{ Html.RenderAction("MonthSummary", "Home"); }
</div>

@section Scripts{
}